{% extends "AppPosts/base.html" %}
{% load static %}
{% block contenido %}
    <title>Bienvenida</title>
    <h1>Blog Exclusivo para Miembros</h1>
    <p>Ultimos posts</p><br>
    <p>Síguenos en nuestras redes</p>
    <div class="row">
        <div class="col-lg-4">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>  
{% endblock %}