<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  Agregar Posts  {% endblock %}</title>
</head>
<body>
    
    {% block content %}
    {% if user.is_authenticated %}
    <h1> Agregar posts !!!! </h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">POST!</button>

    </form>
    </div>
    <script>
        var name = "{{user.id}}";
        document.getElementById("usernameCheck").value = name;
    </script>
    {% else %}
    <h1>Logueate y despues vemos PX</h1>
    <a href="{% url 'home' %}" class="btn btn-secondary" >Back</a>

    {% endif%}
    {% endblock %}
</body>
</html>