<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  Categorias  {% endblock %}</title>
</head>
<body>


    {% block content %}
    {% if category_posts %}
        <h1>{{cats}}</h1>

        {% for post in category_posts %}

        {% for post in object_list %}
            <a href="{% url 'verPost' post.pk %}">{{post.titulo}}
        <br>    
            </a> - {{post.autor.first_name}}  {{post.autor.last_name}} -- {{ post.fechaPost }}
        </br>
        {% endfor %}
        {% endfor %}
        {% else %}
        <h2> 404 Pag no existe </h2>
    {% endif %}

    {% endblock %}
</body>
</html>