<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  Borrar Posts  {% endblock %}</title>
</head>
<body>
    {% block content %}

    {% if user.is_authenticated %}
        {% if user.id == post.autor.id %}
            <h1> Borrar posts !!!! </h1>
            <br>
            </br>
            <h2>Borrar: {{ post.titulo }} </h2>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <strong>TAS SEGURO???</strong>
                    <br></br>
                    <br></br>
                    <button class="btn btn-primary">BORRAR POST!</button>

    </form>
    </div>
         {% else %}
           <h1> Vos Tenes Que Loguearte Vo' </h1>
         <a href="{% url 'home' %}" class="btn btn-secondary" >Back</a>
         {% endif %}

    {% else %}
        <h1> Vos Tenes Que Loguearte Vo' </h1>
        <a href="{% url 'home' %}" class="btn btn-secondary" >Back</a>

    {% endif %}
    {% endblock %}
</body>
</html>