<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  Le Blogue  {% endblock %}</title>
</head>
<body>


    {% block content %}

        <h1>Posts</h1>

        {% for post in object_list %}
            <a href="{% url 'verPost' post.pk %}">{{post.titulo}}
        <br>    
            </a> - {{post.autor.first_name}}  {{post.autor.last_name}} -- {{ post.fechaPost }} -- <a href="{% url 'categoria_post' post.id %}"> {{ post.categoria_post}}
        </br>
        
        {% endfor %}
    
    {% endblock %}
</body>
</html>