<!DOCTYPE html>

<html lang="en">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ post.titulo_tag }} {% endblock %}</title>
</head>
<body>
    
    {% block content %}
    <h1>{{post.titulo}}</h1>
    <small>Por: {{post.autor.first_name}}  {{post.autor.last_name}}</small> </br>
    {{ post.cuerpoPost }}
</br>
    <a href="{% url 'home' %}" class="btn btn-secondary" >Back</a>
</body>
{% endblock %}
</html>