<!DOCTYPE html>

<html lang="en">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ post.titulo_tag }} {% endblock %}</title>
</head>
<body>
    
    {% block content %}
    <h1>{{post.titulo}}</h1>
    <div class="container-fluid">
        <div>
            <small>Por:
                <br>
                </br>
                    {{post.autor.first_name}}  {{post.autor.last_name}}</small> </br>
        </div>
        <div>
             {{ post.fechaPost }}
        </div>
        <div class='text-wrap'>
          <p class='text-justify'>
                {{ post.cuerpoPost|safe }}
            </p>
        </div>
    </div>
</br>
    <a href="{% url 'home' %}" class="btn btn-secondary" >Back</a>
    {% if user.is_authenticated %}
        {% if user.id == post.autor.id %}
    <a href="{% url 'updatePost' post.pk %}" class="btn btn-primary" >Editar Post! </a>
    <a href="{% url 'deletePost' post.pk %}" class="btn btn-danger" >Borrar Post! </a>
    {% endif %}
    {% endif %}
</body>
{% endblock %}
</html>